:root {
  --body-color: #333333;
  --carousel-indicator-size: 7px;
  --carousel-indicator-padding: 12px;
  --progress-counter-font-size: 0.8em;
  --max-carousel-indicators-per-line: 30;

  /* the following are set by ti3.js resetScreenWidthDependentVars: */
  --body-margin-top: 80px;
  --body-padding-bottom: 2rem;
  --page-title-font-size: 2.25rem;
  --main-column-width: 100vw;
  --main-column-padding-x: 2rem;
  --main-column-to-well-margin: 0.9rem;
  --outer-well-width: 100vw;
  --carousel-arrow-size: 48px;
  --carousel-nav-button-margin-x: 2em;
  --well-after-main-column-margin-top: 0.9rem;
  --well-before-main-column-margin-bottom: 0.9rem;
  --well-margin-y: 0.75rem;
  --end-of-page-well-margin-bottom: 0.9rem;
  --last-child-well-margin-bottom: 0rem;
  --well-padding-y: 0.75rem;
  --well-padding-x: 0.75rem;
  --ul-ol-margin-left: 2rem;
  --ul-ol-margin-right: 2rem;
  --nested-ul-ol-margin-left: 2rem;
  --nested-ul-ol-margin-right: 2rem;
  --textfigure-padding-x: 4rem;
  --math-block-max-width: 100vw;

  /* light mode code block colors */
  /* --python-prompt-carets: purple; */
  /* --python-prompt-ok-response: blue; */
  /* --python-prompt-error-response: red; */
  /* --listing-numbers: gray; */
  /* --xml-tags: burgundy; */
  /* --xml-attributes: #826cc4; */
  
  /* dark code block mode */
  --python-prompt-carets: rgb(244, 154, 235);
  --python-prompt-ok-response: rgb(19, 169, 234);
  --python-prompt-error-response: rgb(255, 142, 142);
  --listing-numbers: rgb(220, 220, 220);
  --xml-tags: rgb(220, 200, 180);
  --xml-attributes: #9a83e0;
  --elm-punctuation: #da7167ff;
  --elm-defined-symbol: #abb66fff;
  --elm-type: #cfa763ff;
  --elm-variable: #e6dab5ff;
  --elm-keyword: #da7167ff;
  --elm-function: #e6dab5ff;
  --elm-relation: #d58b58ff;
  --elm-par: #cfa763ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin-top: var(--body-margin-top);
  background-color: rgba(248, 244, 253, 1);
  font-size: 1.25rem;
  min-width: 2500px;
  color: var(--body-color);
  padding-bottom: var(--body-padding-bottom);
}

/* Index page
*/

.index {
  margin-top: 2rem;
}

.index__header {
  width: 100%;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  line-height: 2.8rem;
}

.index__header + section {
  margin-top: 6rem;
}

.index__header__title {
  font-size: 2rem;
}

.index__header__subtitle {
  font-size: 1.5rem;
  display: block;
  margin: auto;
}

.index__list {
  margin: 0 auto;
  width: fit-content;
  list-style: none;
  padding-left: 0;
  line-height: 2rem;
}

.index__list a {
  color: #337ab7;
  text-decoration: none;
}

/* for top-level list items */
.index__list__chapter {
  padding-left: 20px;
  margin: 0.4rem 0;
}

/* for nested lists */
.index__list__subchapter {
  padding-left: 1.6rem; /* more indentation for visual hierarchy */
  list-style: none;
}

.index__list__subchapter li {
  margin: 0.4rem 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.menu--hidden {
  transform: translateY(-100%);
}

.menu-right,
.menu-left {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
  justify-content: end;
  background-color: #f8f4fd;
  border-radius: 6px;
}

.menu a {
  padding: 0 1rem;
}

.menu-right {
  text-align: right;
}

/* Chapters and Subchapters
*/

/* .chapter,
.subchapter {
  margin-top: 2rem;
} */

.page-title {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: var(--page-title-font-size);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-title p {
  line-height: 2.6rem;
}

.page-title::before,
.page-title::after {
  content: "";
  border-top: 6px double;
}

.main-column {
  max-width: var(--main-column-width);
  padding: 0 var(--main-column-padding-x);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.well {
  width: 100%;
  margin: var(--well-margin-y) auto;
  padding: var(--well-padding-y) var(--well-padding-x);
  line-height: 1.8rem;
  border-radius: 12px;
  border: 0px #555 solid;
}

.well.out {
  width: var(--outer-well-width);
}

.main-column + .well,
.well + .main-column {
  margin-top: var(--main-column-to-well-margin) !important;
}

.well.out:last-child {
  margin-bottom: var(--end-of-page-well-margin-bottom);
}

.main-column:last-child {
  margin-bottom: var(--end-of-page-well-margin-bottom);
}

.well > .well:last-child {
  margin-bottom: var(--last-child-well-margin-bottom);
}

ul,
ol {
  list-style-position: outside;
  padding-left: 0.5rem;
  margin-left: var(--nested-ul-ol-margin-left);
  margin-right: var(--nested-ul-ol-margin-right);
}

ul:not(li > ul),
ol:not(li > ol) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: var(--ul-ol-margin-left);
  margin-right: var(--ul-ol-margin-right);
}

li {
  margin: 0.2em 0;
}

li > p:first-child {
  display: inline;
}

pre {
  line-height: 1.6;
  color: white;
  background-color: #000;
  font-size: 0.9rem;
  white-space: pre-wrap;
  width: 100%;
  margin: 2ch auto;
  padding: 1.3rem 1.5rem;
  border: 0.5px #000 solid;
  overflow: scroll;
  text-wrap: nowrap;
}

p {
  line-height: 1.8rem;
}

p:has(> mjx-container) {
  overflow-x: scroll;
  overflow-y: hidden;
}

.statement,
.remark {
  background-color: rgb(214, 239, 225);
}

.highlight {
  background-color: rgb(250, 240, 219);
}

.highlight .statement,
.statement .statement,
.highlight > .highlight {
  background-color: #f0ffff;
}

.highlight .highlight .statement,
.highlight .highlight .remark {
  background-color: #d9edf7;
}

.exercise {
  background-color: #e8e4d6;
}

.remark {
  background-color: #f0ffff;
}

.alert-info {
  background-color: #d9edf7;
}

.alert-warning {
  background-color: #fce1be;
}

.qed {
  float: right;
}

p:has(> span.qed):not(:has(> *:not(span.qed))):last-child {
  padding: 0.6rem 0;
}

.nowrap {
  white-space: nowrap;
}

.arbitrary-prompt {
  color: blue;
}

.arbitrary-response {
  color: var(--body-color);
}

.terminal-prompt {
  font-family: Courier, "Courier New";
  color: #777;
  font-size: 1em;
}

.python-prompt-carets {
  color: var(--python-prompt-carets);
}

.python-prompt-ok-response {
  color: var(--python-prompt-ok-response);
}

.python-prompt-error-response {
  color: var(--python-prompt-error-response);
}

pre span.pythonPrompt {
  color: #000;
}

pre.listing:before {
  counter-reset: listing;
}

pre.listing > span.listing-bol {
  counter-increment: listing;
}

pre.listing > span.listing-bol::before {
  color: var(--listing-numbers);
  content: counter(listing) ". ";
  min-width: 4ch;
  display: inline-block;
  text-align: right;
}

pre.redyellow {
  color: red;
  background-color: yellow;
}

pre.listing.redyellow > span.listing-bol::before{
  color: #777;
}

.terminalOutput {
  color: blue;
}

.actual-orange-comment {
  color: darkorange;
  font-style: italic;
  display: inline;
}

figcaption {
  max-width: 70%;
  margin: auto;
  margin-top: 0.5em;
}

figure.main-column,
.well figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  overflow: visible;
  background-color: inherit;
}

figure.main-column img,
.well figure img {
  max-width: var(--main-column-width);
  padding: 16px;
  flex-shrink: 0 !important;
  background-color: inherit;
}

figure.main-column img:not(.constrained),
.well figure img:not(.constrained) {
  border-radius: 6px;
}

figure.main-column img.constrained,
.well img.constrained {
  max-width: 100%;
}

.transition-all {
  will-change: max-width, width;
  transition-property: max-width, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.carousel__container.main-column {
  max-width: var(--main-column-width);
  padding: 0 0.1rem;
}

.carousel__container:last-child {
  margin-bottom: 2rem;
}

.carousel__container {
  max-width: fit-content;
  width: fit-content;
  padding: 0 0;
  margin: 1rem auto;
}

.carousel {
  max-width: inherit;
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.carousel__mobile-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8px;
  touch-action: pinch-zoom;
}

.carousel__progress-counter {
  width: 4em;
  text-align: center;
  font-size: var(--progress-counter-font-size);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: translate(0em, 0.05em);
}

.carousel__progress-counter > span {
  display: inline-block;
}

.carousel__progress-counter > span:first-child,
.carousel__progress-counter > span:last-child {
  width: 1.8em;
}

.carousel__progress-counter > span:first-child {
    text-align: right;
    padding-right: 0.15em;
}

.carousel__progress-counter > span:last-child {
    text-align: left;
    padding-left: 0.15em;
}

.carousel__nav-button {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  color: #333;
  transition: background-color 0.3s ease;
  z-index: 100;
  margin: 0 var(--carousel-nav-button-margin-x);
}

.carousel__nav-button > img {
  width: var(--carousel-arrow-size);
  height: var(--carousel-arrow-size);
}

.carousel__nav-button:disabled {
  opacity: 0.4;
  cursor: default;
  color: #999;
}

.carousel__items {
  position: relative;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  height: auto;
  flex: 1 0 0%;
  display: flex;
  text-align: center;
  margin: 0 var(--carousel-nav-button-margin-x);
}

.carousel__item {
  width: 100%;
}

.carousel__item > * {
  max-width: 100%;
  box-sizing: border-box;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__item img {
  flex-shrink: 0;
}

.carousel__items > .carousel__item {
  position: relative;
  max-width: 100%;
  display: none;
  flex: 1 0 100%;
}

.carousel__items > .carousel__item.active {
  display: block;
}

.carousel__indicators {
  max-width: min(
    calc(
      (var(--carousel-indicator-size) + var(--carousel-indicator-padding)) * 30
    ),
    calc(100% - (2 * var(--carousel-arrow-size)))
  );
  display: flex;
  flex-wrap: wrap;
  gap: 8px var(--carousel-indicator-padding);
  justify-content: center;
  margin-top: 4px;
  padding: 0;
  margin: 1rem auto;
}

.carousel__indicator {
  width: var(--carousel-indicator-size);
  height: var(--carousel-indicator-size);
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 0;
}

.carousel__indicator.active {
  background-color: #333;
  transform: scale(1.3);
}

h1 {
  font-size: 1.9rem;
  font-weight: normal;
}

h2 {
  font-size: 1.7rem;
  font-weight: normal;
  margin: 0px;
}

p + p {
  margin-top: 0.8rem;
}

h1 + p,
h2 + p {
  margin-top: 0.8rem;
}

p + h1,
p + h2 {
  margin-top: 0.8rem;
}

code {
  font-size: 0.85em;
  /* color: #c7254e; */
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  color: #eeeeee40;
}

button img {
  -webkit-user-select: none; /* prevent selection */
  -webkit-touch-callout: none; /* prevent long-press callout */
  -webkit-user-drag: none; /* prevent dragging the image */
  user-select: none;
}

.math-block {
  max-width: var(--math-block-max-width);
  position: relative;
  display: block;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.circle-X-img {
  height: 1.4em;
  display: inline-block;
  vertical-align: middle;
}

.display {
  padding: 1em 2em;
  text-align: center;
  margin: auto;
}

.xml-0 {
  /* '<' '/>' etc */
  color: var(--xml-tags);
}

.xml-1 {
  /* tag names */
  color: var(--xml-tags);
}

.xml-2 {
  /* attribute keys */
  color: #f78080;
}

.xml-3 {
  /* attribute assignment '=' */
  color: #913d3d;
}

.xml-4 {
  /* attribute values including the quotes */
  color: var(--xml-attributes);
}

.xml-5 {
  /* text */
  color: #333;
}

.xml-6 {
  /* comments */
  color: #70b470;
}

.elm-0 {
  color: var(--elm-punctuation);
}
.elm-1 {
  color: var(--elm-defined-symbol)
}
.elm-2 {
  color: var(--elm-type);
}
.elm-3 {
  color: var(--elm-variable);
}
.elm-4 {
  color: var(--elm-keyword);
}
.elm-5 {
  color: var(--elm-function);
}
.elm-6 {
  color: var(--elm-relation);
}
.elm-7 {
  color: var(--elm-par);
}

.sc {
  font-variant: small-caps;
}

.codelink {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.textfigure {
  padding: 0 var(--textfigure-padding-x);
}
